/*    Font Variable
----------------------*/

@mont:'Montserrat', sans-serif;
@mol:'MontserratLight', sans-serif;
 

//@mont:'Open Sans', sans-serif;
//@mol:'Open Sans', sans-serif;
//



/*    Color Variable
-----------------------*/

@primary:#03A9F5;
@success:#1DE9B6; //03A9F5
@info:#03a9f4;
@danger:#e74c3c;
@warning:#f39c12;
@pink:#e6a1f2;
@dark:#545454;
@default:#878787;
@text:#252525;
@text-light:#252525;
@border:#eee;
@deep: #aaa;
@ash: #f5f5f5;



@warning-dark: #e7b63a;
@success-dark: #2ed3aa;
@info-dark: #8b67c9;
@danger-dark: #e63327;
@primary-dark: #0095e1;

/*    Solid Color
------------------*/
@white:#fff;
@white-light:#EEF1F6;
@black:#252525;
@border:#e7e7e7;





/*    Brand color
----------------------*/

@facebook:#3b5998;
@twitter:#1da1f2;
@youtube:#cd201f;
@google-plus:#dd4b39;
@linkedin: #007bb6;
